<div class="d-flex flex-row justify-content-center" style="background-color: rgb(156, 139, 139); height: 750px;">

  <div class="float-container" style="margin-top: 140px;">
    <div class="float-child">
      <div class="green">
        <div style="display: inline-block;">
          <div>
            <div class="unt" id="accordionExample" style="width: 35rem; color: black;">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">

                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                      data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      How much should I call in advance for a pre-move survey?
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body" style="background-color: whitesmoke;">
                    <i class="ri-question-answer-fill"></i>
                    You can call make a move Household Movers at least 1-2 weeks before the move. This way we can
                    better plan your move to make it smooth.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                      style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      What are my responsibilities during the moving process?
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample"
                  style="background-color: whitesmoke;">
                  <div class="card-body">
                    <i class="ri-question-answer-fill"></i>
                    Provide documents such as a transfer letter or joining letter and a copy of the RC book for moving
                    your vehicle
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                      style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      How much time should I give before contacting a moving company?
                    </button>
                  </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample"
                  style="background-color: whitesmoke;">
                  <div class="card-body">
                    <i class="ri-question-answer-fill"></i>
                    24hours
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"
                      style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      Will you give us somecoaches so that we can sort our goods?
                    </button>
                  </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample"
                  style="background-color: whitesmoke;">
                  <div class="card-body">
                    <i class="ri-question-answer-fill"></i>
                    24 * 7-hour Customer Care Department at our head office, which caters to the needs of our valued
                    customers and monitors all ongoing consignments throughout the day. The customer can access the
                    information at any time, any day, through our helpline number 08708260372
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
                      style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      Why do I need insurance if everything is packed professionally?
                    </button>
                  </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample"
                  style="background-color: whitesmoke;">
                  <div class="card-body">
                    <i class="ri-question-answer-fill"></i>
                    Items can get damaged due to unforeseen circumstances such as accidents or any natural disaster in
                    the moving process.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingSix">
                  <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                      data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
                      style="color: black;">
                      <i class="ri-questionnaire-line"></i>
                      What are GST rates on hiring services of packers and movers?

                    </button>
                  </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample"
                  style="background-color: whitesmoke;">
                  <div class="card-body">
                    <i class="ri-question-answer-fill"></i>
                    Let’s make it clear now. Professional packers and movers companies in India add GST charges in
                    finagling billing generally at the rate of 18%, but in some cases they just add 5%. If you are
                    hiring full service of a moving company to accomplish all the shifting tasks then GST charge will
                    added at the rate of 18%.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>