.container{ 
  height: 100vh; 
 display: flex; 
  justify-content: center; 
  align-items:center; 
  padding: 20px; 
  
 

}
.fullimage{
  background-image: url('https://static.wixstatic.com/media/08328b9adefc4660919e5969c97c8ee2.jpg/v1/fill/w_640,h_400,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_auto/08328b9adefc4660919e5969c97c8ee2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.7); 
  
}
  
#login{ 
  padding: 15px; 
  border-radius: 4px; 
  background: white; 
   
} 
#button{ 
  color: white; 
  background-color: lightseagreen; 
}
well{
text-shadow: 10px;
}
.hi{
  color: rgb(255, 0, 0);
  font-size: larger;
  font-weight: bold;

}
.hi1{
  color: rgb(255, 0, 0);
  font-size: larger;
  font-weight: bold;


}
.pas{
  color: rgb(0, 0, 0);
  font-size: larger;

}
.button-89 {
  --b: 3px;
  --s: .45em; 
  --color: #000000;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#00000000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #cbbdbd00;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
.container {
  margin-top: 30px;
}
.login {
  max-width: 400px;
  margin: 0 auto;
}
.form-group {
  margin-bottom: 20px;
}
