<div class="card  text-black">
  <div class="card-img-container">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/916/521/original/big-isolated-vehicle-colorful-icons-flat-illustrations-of-delivery-by-van-through-gps-tracking-location-delivery-vehicle-goods-and-food-delivery-instant-delivery-online-delivery-vector.jpg"
      class="card-img" alt="Delivery Image" width="100%" height="850px">
    <div class="image-text">
      <p style="padding-left: 50px;">House shifting hey...? #HoJayega.!</p>
    </div>
  </div>

  <div style="background-color: rgb(193, 90, 90);">
    <style>
      .carousel-item {
        height: 400px;
      }
    </style>

    <div id="carousel-example-1z" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
      </ol>

      <!-- Slides -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex align-items-center">
            <div class="col-md-6">
              <img class="d-block" style="height: 300px;"
                src="https://media.tenor.com/NmftPi5_EbgAAAAi/package-parcels.gif" alt="First slide">
            </div>
            <div class="col-md-6">
              <h4 style="color: black;">Iam on my way to deliver</h4>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block" style="height:500px;  padding-left: 180px;"
            src="https://images.squarespace-cdn.com/content/v1/5ae4ec063e2d092d0e039f7c/1528400255110-5MRDU6GGZ49PPCL3UYOB/Comp-2_6.gif?format=2500w"
            alt="Second slide">
        </div>
        <div class="carousel-item">
          <div class="d-flex align-items-center justify-content-center">
            <img class="d-block" style="max-height: 500px; width: 50%; object-fit: contain;"
              src="https://static.vecteezy.com/system/resources/previews/020/615/436/original/single-one-line-drawing-courier-carrying-box-package-e-commerce-online-shopping-online-delivery-service-fast-delivery-parcel-concept-modern-continuous-line-draw-design-graphic-illustration-vector.jpg"
              alt="Third slide">
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>


  <!--/.Carousel Wrapper-->
  <br>
  <div>
    <h2 class="H1" style="color: rgb(0, 0, 0);"> WHAT WE DO</h2><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="p1">
            Household movers help people move their stuff from one home to another.
            We pack, load, transport, unload, and unpack things so that they get to the new home safely
            and without any damage.
            The aim is to make moving as easy and stress-free as possible for their clients.

          </p>
        </div>
        <div class="col icss">
          <img style="height: 250px; width: 400px;" src="https://patelpackersandmovers.com/images/packing-moving.jpg">

        </div>

      </div>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col">
            <img style="height: 250px; width: 400px;" src="https://media.tenor.com/4Ogk8Zw52t0AAAAC/pingu-delivery.gif">
          </div>
          <div class="col">
            <br><br>
            <p class="p1" style="color: black;">Our team is professionally trained in
              packaging and proper transportation to your destinated place. </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div>
  <div style="background-color: black;"> <br>
    <h2 style="text-align: center; color: aliceblue;">And thanks to you we are growing each & every day !</h2>
    <div class="container1">
      <div class="container">
        <div class="item">
          <div>19+</div>
          <div>Cities</div>
        </div>
        <div class="item">
          <div>5 Lakh+</div>
          <div>Driver Partners</div>
        </div>
        <div class="item">
          <div>1 Crore+</div>
          <div>Customers</div>
        </div>
        <div class="item">
          <div>10 Crore+</div>
          <div>Trips</div>
        </div>
      </div>
    </div><br>

    <img class="image" alt="Cities where Porter is operating in."
      src="https://d3apkeya39jz4k.cloudfront.net/porter_india_v3_847f077bba_639cd5ce3a.webp"><br>
    <p style="text-align: center; color: aliceblue; padding-left: 20px;padding-bottom: 20px;">
      We are servable in Delhi NCR, Bengaluru, Mumbai, Hyderabad, Ahmedabad, Jaipur, Pune,
      Kolkata, Surat, Chennai, Coimbatore,
      Indore, Nagpur, Chandigarh, Lucknow, Vadodara, Ludhiana, Kochi, and Nashik.</p>
  </div>

  <!-- <section class="main">
    <h1 >Our Happy patrons</h1>
    <div class="full-boxer">
      <div class="comment-box">
        <div class="box-top">
          <div class="Profile">
            <div class="profile-image">
              <img src="https://www.nicepng.com/png/detail/415-4156423_boy-comments-man-icon-png.png">
            </div>
            <div class="Name">
              <strong>JYOTHI SWAROOP</strong>
              <span>@jyothi_swaroop</span>
            </div>
          </div>
        </div>
        <div class="comment">
          <p>
            "Household Movers provided a smooth and professional moving experience, taking care of every detail with efficiency and precision."
          </p>
        </div>
      </div>

      <div class="comment-box">
        <div class="box-top">
          <div class="Profile">
            <div class="profile-image">
              <img src="https://www.nicepng.com/png/detail/415-4156423_boy-comments-man-icon-png.png">
            </div>
            <div class="Name">
              <strong>SUMANTH</strong>
              <span>@sumanth </span>
            </div>
          </div>
        </div>
        <div class="comment">
          <p>
            "Highly recommended! Household Movers exceeded my expectations, delivering exceptional service and ensuring a hassle-free relocation."
          </p>
        </div>
      </div>

      <div class="comment-box">
        <div class="box-top">
          <div class="Profile">
            <div class="profile-image">
              <img src="https://www.nicepng.com/png/detail/415-4156423_boy-comments-man-icon-png.png">
            </div>
            <div class="Name">
              <strong>BHARATH KUMAR</strong>
              <span>@bharath_kumar</span>
            </div>
          </div>
        </div>
        <div class="comment">
          <p>
            "Impressive teamwork and coordination displayed by Household Movers' staff made our move seamless and stress-free."
          </p>
        </div>
      </div>

      <div class="comment-box">
        <div class="box-top">
          <div class="Profile">
            <div class="profile-image">
              <img src="https://www.nicepng.com/png/detail/415-4156423_boy-comments-man-icon-png.png">
            </div>
            <div class="Name">
              <strong>AJITH</strong>
              <span>@ajith</span>
            </div>
          </div>
        </div>
        <div class="comment">
          <p>
            ""Highly professional and efficient service provided by Household Movers. They made our move a breeze!"
          </p>
        </div>
      </div>
    </div>
  </section> -->
</div>