*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif, "poppins";
    text-transform: capitalize;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.footer{
    background: rgb(103, 97, 97);
    padding: 45px 0;
    justify-content: end;
    align-items: end;
}
.row{
    display: flex;
    flex-wrap:wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size:18px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul{
     list-style: none;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
    transition: all .3s ease;
}
.footer-col ul li a:hover{
    color: #fff;
    padding-left: 6px;
}
.footer-col .social-link a{
   display: inline-block;
   height: 40px;
   width: 40px;
   background: rgba(255,255,255,.2);
   margin: 0 10px 10 0px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color: #fff;
   transition: all .5s ease;
}
.footer-col .social-link a:hover{
    color: #24262b;
    background: #fff;
}
@media(max-width:677px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:567px){
    .footer-col{
        width:100%;
        margin-bottom: 30px;
    }
}