<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Freight Fleet</h4>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Our Services</h4>
        <ul>
          <li><a href="#">Packing and Moving</a></li>
          <li><a href="#">Office Shifting Service's</a></li>
          <li><a href="#">Other Service's</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>User Profile</h4>
        <ul>
          <li><a routerLink="register">Register</a></li>
          <li><a routerLink="login">Login</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow Us</h4>
        <div class="social-link">

          <a href="#"> <i class="ri-facebook-box-line"></i></a>
          <a href="https://www.instagram.com/"><i class="ri-instagram-fill"></i></a>
          <a href="#"><i class="ri-linkedin-box-fill"></i></a>
          <a href="#"> <i class="ri-twitter-line"></i></a>
        </div>
      </div>
    </div>

  </div>

</div>